
:root{
--primary-cta:hsl(180, 50%, 30%);
--secondary-cta:hsl(240, 50%, 55%);
--warning:hsl(0, 50%, 50%);
--text-dark:hsl(0, 0%, 93%);
--text-light:hsl(0, 0%, 6%);
--bg-light:hsl(0, 0%, 87%);

}

/* General styling*/


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-width:0;
    text-decoration: none;
    list-style: none;

}

body{
    font-family:"Inter", "sans-serif";
}

header{
    height:21vh;
    z-index: 1000;
}

h1,h2,h3{
    text-align: left;
    width:100%;
    text-transform: uppercase;
}
h1{
    margin-bottom: 1rem;
    text-transform: uppercase;
}
h2, h3{
    text-shadow: #8F8F8F
}
p{
    font-size: 1.2rem;
    line-height: 1.5rem;
}

hr{
    width:100%;
    margin:30px 0;
    border:1.5px solid #8F8F8F;
}


.nav{
    width:100%;
    padding:1rem 1.5rem;
    display:flex;
    justify-content: space-between;
    position:fixed;
    left:0;
    top:0;
    box-shadow:0 -25px 11px 20px var(--text-light);
}

.nav__logo{
    display:block;
    width:20%;
    /* border:1px solid green; */
}
.nav__logo img {
    max-width: 15%;
}
.nav__menus{
    width:50%;
    text-align:right;
    flex:1rem;
}
.nav__menus__list:not(last-of-type){
    display:inline-block;
    margin-right: 1.5rem;
        
}
.nav__menus__list a {
    
    display:inline-block;
    font-weight: bold;
    text-transform:uppercase;
    color:#101010;
}

.wrapper{
    width:100%;
    min-width: 320px;
    max-width: 720px;
    margin:0 auto;
}

.content{
    text-align: center;
    padding:5rem 0;
}
.content__heading{
    font-size:1.5rem;
    color:#101010;
    text-transform:uppercase;
    margin-bottom: .5rem;
    padding:0.2rem 0;
}
.content__subheading{
    font-size: 1rem;
    color:#101010;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.content__message{
    border-radius: 0.8rem;
    background: #DDDDDD;
    padding: 1rem;
    box-shadow:0.4 0.4 11px 20px var(--text-light);
}
.content__message p {
    word-wrap: break-word;
    line-height: 1.5rem;
    font-size:1rem;
    text-align: left;
}
.ctawrapper{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width:100%
}
.action-cta{
    padding:1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius:0.8rem;
    width:45%;
    background:hsl(180, 50%, 30%);
    color:#EEE;
    letter-spacing: .1rem;
}

.action-cta a{
    display:inline-block;
    width:100%;
    line-height: .5rem;
    text-transform: uppercase;
    color:#EEE;
}

.ctawrapper__login{
    border-radius: 0.8rem;
    width:45%;
    display:flex;
    flex-direction: column;
    align-items: center
}
.ctawrapper__login span{
    display:inline-block;
    width: 100%;
   color:var(--bg-light);
   margin-top: .2rem;
   text-align: center;
}
.ctawrapper__login{
    background:var(--secondary-cta);
    cursor:pointer;
}
.hide{
    display:none;
}
.delete-cta{
    background:hsl(0, 50%, 50%);
}
.delete-warning{
    font-size: 1rem;
    color:hsl(0, 50%, 65%);
    margin-bottom: 1rem;
}
.ctawrapper__create{
    background:hsl(180, 50%, 30%);
}


/* General form styling*/
form{
    display:flex;
    flex-direction: column;
    max-width: 720px;
    min-width: 320px;
    margin-top:1.5rem;
    background:#DDDDDD;
    padding:1rem;
    border-radius: 0.2rem;
}


label:not([class="checkbox__checks"]){
    width:100%;
    color:#101010;
    text-align: left;
    margin-bottom: 5px;
}

input:not([type="checkbox"]), select{
    display:block;
    width:100%;
    padding:0.5rem;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
}
.error, .success{
    font-size: 0.9rem;
    padding:1rem;
    display:none;
    margin:1rem 0;
    color:#EEEEEE;

}
.success{
    background:hsl(180, 50%, 30%);
}
.error{
    background:hsl(0, 50%, 50%);
}

.loggedin > li[class~="nav__menus__login"], 
.loggedin > li[class~="nav__menus__signup"],.loggedin.ctawrapper {
    display:none;
}
.loggedout > li[class~="nav__menus__logout"], 
.loggedout > li[class~="nav__menus__account-settings"],
.loggedout > li[class~="nav__menus__dashboard"]{
    display:none;
}



/* Styling for checks table*/
table{
    width:100%;
}
tr{
   width:100%; 
}
th{
    text-transform: uppercase;
    font-weight: bold;
    padding:0.8rem;
    margin:0 0 0.8rem 0;
    background-color: #EFEFEF;
}
td{
    padding:5px;
}

td a, td a:hover, td a:active{
    color:#2e5fa8;
    text-decoration:underline;
    cursor:pointer;

}
table caption:nth-of-type(1){
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
}
table caption:nth-of-type(2) {
    margin-bottom: 1rem;
    color:hsl(180, 50%, 30%);
    text-align: left;
}

.checksrow__ctaWrapper{
    margin-top: 1rem;
    text-align: left;
}

/* Checks form style*/

.checkbox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.checkbox__wrapper{
    display:flex;
    align-items: center;
    margin-bottom: 5px;
}
.checkbox__checks{
  margin-right: 15px;
  line-height: 32px;

}
input[name="successcodes"] {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

input[name="successcodes"]:checked {
  border: 6px solid black;
}
label[for="successcodes"]{
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1rem;
}

select option{
    font-size: 1.2rem;
}
.checkscreate__cta a{
    color:#EEE;
}

.footer{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background:#101010;
    padding:1rem 0;
}
.copyright{
    color:#EEEEEE;
    text-align:center;
    font-size: .7rem;
}