<h1>DashBoard</h1>
<h3 class="checks-heading">Checks Limit is 5</h3>
<hr/>
<table id="checksListTable">
    <caption>A summary of your Checks</caption>
    <thead class="checkcolumn;">
        <tr>
            <th scope="col">Method</th>
            <th scope="col">Protocol</th>
            <th scope="col">Url</th>
            <th scope="col">State</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody id="checksrow">
        <caption colspan="5">You currently monitoring <span class="checkslength">0</span>URL</caption>
    </tbody>
</table>
<div class="checksrow__ctaWrapper">
    <button type="submit" class="action-cta checksrow__cta"><a href="/checks/create">create a check</a></button>
</div>