
    <h1 class="content__heading">Uptime Check/Monitoring</h1>
    <h3 class="content__subheading">Made simple</h3>
<p class="content__message">We offer free, simple uptime checks/monitoring for any website/webserver/api for HTTP/HTTPS protocol and response notifications send via text messages.
</p>
<div class="ctawrapper">
    <button class="ctawrapper__create action-cta"><a href="/user/create">Get Started</a></button>
    <div class="ctawrapper__login">
        <span>Already have account?</span>
    <button class="ctawrapper__login action-cta"><a href="/session/create">Login</a></button>
    </div>
</div>